@model E_HutBazar.Models.ShopOwner

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<h3>Logged in as a shop Owner</h3>
<p>Welcome to E-hutBazar</p>
@Html.ActionLink("AddProduct", "AddProducts", "ShopOwner")
