@model E_HutBazar.Models.ShopOwner

@{
    ViewBag.Title = "Index";
}

<form action="/ShopOwner/Login" method="post">
    <div class="form-horizontal">

        <h4>Login as Shop Owner</h4>

        <div class="form-group">
            <label for="ShopO_Password">Username</label>
            <input type="text" class="form-control" id="ShopO_Username" name="ShopO_Username" aria-describedby="emailHelp">

        </div>

        <div class="form-group">
            <label for="Password">Password</label>
            <input type="Password" class="form-control" id="ShopO_Password" name="ShopO_Password">
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default btn-outline-success" />
                <button type="button" style="margin-left:100px" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Sign Up
                </button>
            </div>
        </div>
    </div>
</form>

<!-- Button trigger modal -->

<form action="/ShopOwner/AddShopOwner" method="post">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sign Up as shopowner</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ShopO_Name">Name</label>
                        <input type="text" class="form-control" id="ShopO_Name" name="ShopO_Name" aria-describedby="">
                    </div>
                    <div class="form-group">
                        <label for="ShopO_Username">Username</label>
                        <input type="text" class="form-control" id="ShopO_Username2" name="ShopO_Username" aria-describedby="">
                    </div>
                    <div class="form-group">
                        <label for="ShopO_Password">Password</label>
                        <input type="password" class="form-control" id="ShopO_Password2" name="ShopO_Password" aria-describedby="">
                    </div>
                    <div class="form-group">
                        <label for="ShopO_Email">Email</label>
                        <input type="text" class="form-control" id="ShopO_Email" name="ShopO_Email" aria-describedby="">
                    </div>
                    <div class="form-group">
                        <label for="ShopO_Phone">Phone</label>
                        <input type="text" class="form-control" id="ShopO_Phone" name="ShopO_Phone" aria-describedby="">
                    </div>
                    <div class="form-group">
                        <label for="ShopO_Shopname">Shop Name</label>
                        <input type="text" class="form-control" id="ShopO_Shopname" name="ShopO_Shopname" aria-describedby="">
                    </div>
                    <div class="form-group">
                        <label for="ShopO_Description">Description</label>
                        <input type="text" class="form-control" id="ShopO_Description" name="ShopO_Description" aria-describedby="">
                    </div>
                    <div class="form-group">
                        <label for="User_Type">User Type</label>
                        <input type="number" class="form-control" id="User_Type" name="User_Type" aria-describedby="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Sign up" class="btn btn-default btn-success" />
                </div>
            </div>
        </div>
    </div>
   </form>
