@model E_HutBazar.Models.User_Admin

@{
    ViewBag.Title = "Index";
}

<form action="/Admin/Login" method="post">    
    <div class="form-horizontal">
        <h4>Login</h4>

        <div class="form-group">
            <label for="Admin_Password">Username</label>
            <input type="text" class="form-control" id="Admin_Username" name="Admin_Username" aria-describedby="emailHelp">
            
        </div>

        <div class="form-group">
            <label for="Password">Password</label>
            <input type="Password" class="form-control" id="Admin_Password" name="Admin_Password">
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default btn-success" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
